app-header {
  .title {
    padding-bottom: 3.5rem;

    h1 {
      font-family: "Montserrat Bold";
      color: #FFFFFF;
    }
  }
}

section {
  width: 85%;
}

.photo {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 30px 30px 0;
  position: relative;
  height: 14rem;
}

.infos {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  color: white;
  font-size: 12pt;
  font-family: "Montserrat Bold";
}

ion-icon {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.title {
  text-align: center;
  font-family: "Montserrat Bold";
  margin-bottom: 0;
  font-size: 16pt;
}

.date {
  text-align: center;
  margin-top: 1px;
  font-size: 12pt;
  opacity: 56%;
}