<ion-content class="sign-in-content">
  <section class="form-login-email">
    <div class="logo-login-email ion-text-center">
      <img src="assets/images/logo.png" alt="">
    </div>
    <div class="bloc-form-login-email">
      <form [formGroup]="loginForm" (ngSubmit)="resetPassword()">
        <ion-list class="inputs-list input-list-login-email" lines="full">
          <ion-item class="input-item input-login-email">
            <ion-input type="email" placeholder="Email" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message" *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </ion-list>
        <ion-button class="btn-login-email" type="submit" expand="block" [disabled]="!loginForm.valid">demander un mot de passe</ion-button>
        <div class="error-container" *ngIf="submitError">
          <div class="error-message">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ submitError }}</span>
          </div>
        </div>
      </form>
      <ion-button class="btn-annuler" expand="block" routerLink="/login/email">annuler</ion-button>
    </div>
  </section>
</ion-content>
