<ion-content class="sign-in-content">
  <section class="form-login-email">
    <div class="logo-login-email ion-text-center">
      <img src="assets/images/logo.png" alt="">
    </div>
    <div class="bloc-form-login-email">
      <form [formGroup]="formGroup" (ngSubmit)="signInWithEmail()">
        <ion-list class="inputs-list input-list-login-email" lines="full">
          <ion-item class="input-item input-login-email">
            <ion-input type="email" placeholder="Email" formControlName="email" clearInput autocapitalize="off" inputmode="email"></ion-input>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message" *ngIf="formGroup.get('email').hasError(validation.type) && (formGroup.get('email').dirty || formGroup.get('email').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
          <ion-item class="input-item input-login-email">
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>
          <div class="error-container">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message" *ngIf="formGroup.get('password').hasError(validation.type) && (formGroup.get('password').dirty || formGroup.get('password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>
                <span>{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </ion-list>
        <ion-button class="sign-in-btn btn-login-email" type="submit" expand="block" [disabled]="!formGroup.valid">Go !</ion-button>
        <div class="error-container" *ngIf="submitError">
          <div class="error-message">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>{{ submitError }}</span>
          </div>
        </div>
        <div class="forgot-password ion-text-center">
          <ion-button routerLink="/login/lost-password">
            mot de passe oublié
          </ion-button>
        </div>
      </form>
    </div>
  </section>
  <section class="remove-form ion-text-center">
    <div class="bloc-remove-form">
      <ion-button router-link="/login/intro">
        Annuler
      </ion-button>
    </div>
  </section>
</ion-content>
