<ion-header>
  <ion-toolbar class="toolbar-profil">
    <!--<ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/home"></ion-back-button>
    </ion-buttons>-->
    <!--<ion-title>profile</ion-title>-->
    <section class="head-profil">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <div class="back-profil">
              <ion-icon name="arrow-back-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="8">
            <div class="your-profil ion-text-center">
              <h1>Votre profil</h1>
            </div>
          </ion-col>
          <ion-col size="2">
            <div class="keypad-profil">
              <ion-icon name="keypad-outline"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="img-profil ion-text-center">
        <img src="assets/images/profile-photo-square.jpg" alt="">
      </div>
    </section>
  </ion-toolbar>
  <div class="name-profil ion-text-center">
    <h2>John Snow</h2>
    <span>San Francisco, CA</span>
  </div>
</ion-header>

<ion-content>
  <section class="content-profil">
    <div class="follow-profil">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <div class="following ion-text-center">
              <span>125</span>
              <p>Likes</p>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="following ion-text-center">
              <span>150</span>
            <p>Following</p>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="following ion-text-center">
              <span>321</span>
              <p>Followers</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="actus-profil">
      <div class="profil-entretien">
        <img src="assets/images/profile-photo-square.jpg" alt="">
        <span class="name-profil-entretien">
          <strong>Jack Snow</strong><br/>
          8 Nov
        </span>
      </div>
      <div class="angle-down-profil">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </div>
      <div class="content-user">
        <p>
          When I was 5 years old, my mother always
        </p>
        <div class="ion-text-center img-content-user">
          <img src="assets/images/img-stat-user.jpg" alt="">
        </div>
      </div>
      <ion-list class="msg-user">
        <ion-item>
          <span>256</span>
          <ion-icon name="chatbox-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <span>428</span>
          <ion-icon name="heart-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
    <div class="actus-profil actus-profil-1">
      <div class="profil-entretien">
        <img src="assets/images/profile-photo-square.jpg" alt="">
        <span class="name-profil-entretien name-user-profil">
          <strong>Jack Snow</strong><br/>
          8 Nov
        </span>
      </div>
      <div class="angle-down-profil">
        <ion-icon name="chevron-down-outline"></ion-icon>
      </div>
      <div class="content-user">
        <p> 
          told me that happiness was the key to life. 
          When I went to school, they asked me what 
          I wanted to be when I grew up.
        </p>
      </div>
      <ion-list class="msg-user">
        <ion-item>
          <span>256</span>
          <ion-icon name="chatbox-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <span>4k</span>
          <ion-icon name="heart-outline"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </section>
</ion-content>
