<ion-grid>
  <ion-row>
     <ion-col size='3' style="font-size:0.8em;font-weight:bolder;">
       <strong>
         PRE FIX
       </strong>
     </ion-col>
     <ion-col size='9' style="font-size:0.8em;font-weight:bolder;">
       <strong>
         PHONE NUMBER
       </strong>
     </ion-col>
  </ion-row>
 <ion-row>
      <ion-col size='3'>
         <ion-input [(ngModel)]="prefix" placeholder="6012" type="tel" maxlength='4'></ion-input>
      </ion-col>
      <ion-col size='9'>
         <ion-input [(ngModel)]="line" placeholder="2345678" type="tel"></ion-input>
      </ion-col>
 </ion-row>
   <div class='ion-center' style="position:relative;z-index:10;width:100%;margin-left:2em;margin-right:auto;">
     <div id="recaptcha-container"></div>
   </div>
 </ion-grid>
 <ion-button (click)="sendLoginCode()" color="primary" style="z-index:4;width:100%;">
       <ion-icon name="chevron-forward" slot="end"></ion-icon>
       SUBMIT
 </ion-button>