<ion-header>
  <ion-toolbar class="burger-menu">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="logo-home">
      <img src="assets/images/logo.png" alt="">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <section class="content-home">
    <a href="/dashboard/entretien">
      <div class="bloc-home-entretien bg-home-entretien">
        <span class="date-home">
          Vendredi 17:30
        </span>
        <h2>
          <strong>Entretien de votre piscine</strong><br/> 
          Gestion du planning
        </h2>
        <div class="bloc-follow">
          <div class="img-follow-1 img-follow">
            <img src="assets/images/follow-1.jpg" alt="">
          </div>
          <div class="img-follow-2 img-follow">
            <img src="assets/images/follow-2.jpg" alt="">
          </div>
            <span>
              join Marie, John & 10 others
            </span>
        </div>
      </div>
    </a>

    <a href="/dashboard/sav">
      <div class="bloc-home-entretien bg-home-sav">
        <h2>
          <strong>SAV & Interventions !</strong>
        </h2>
        <div class="bloc-follow">
          <div class="img-follow-1 img-follow">
            <img src="assets/images/follow-1.jpg" alt="">
          </div>
          <div class="img-follow-2 img-follow">
            <img src="assets/images/follow-2.jpg" alt="">
          </div>
            <span>
              join Marie, John & 10 others
            </span>
        </div>
      </div>
    </a>

    <a href="/dashboard/shop">
      <div class="bloc-home-entretien bg-home-shop">
        <h2>
          <strong>Piscinadom Le Shop</strong><br/>
          Produits & accessoires
        </h2>
        <div class="bloc-follow">
          <div class="img-follow-1 img-follow">
            <img src="assets/images/follow-1.jpg" alt="">
          </div>
          <div class="img-follow-2 img-follow">
            <img src="assets/images/follow-2.jpg" alt="">
          </div>
            <span>
              join Marie, John & 10 others
            </span>
        </div>
      </div>
    </a>
  </section>
</ion-content>
