<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552951788156-m6qkcd9ujpid7djeliqp9kkf2k1us826.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552951788156-m6qkcd9ujpid7djeliqp9kkf2k1us826</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>552951788156-72ml0611mp1pt1jchfoots0vn2d37jch.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCg3vSei75hWiDPwabRtgeYHAVrq5A8bM</string>
	<key>GCM_SENDER_ID</key>
	<string>552951788156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.starter.piscinadom-dev</string>
	<key>PROJECT_ID</key>
	<string>piscinadom-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>piscinadom-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552951788156:ios:ed55e6654315cf70ff0ff9</string>
	<key>DATABASE_URL</key>
	<string>https://piscinadom-dev.firebaseio.com</string>
</dict>
</plist>